RESEND_API_KEY=
BOOKING_FROM_EMAIL=Vayora Bookings <onboarding@resend.dev>
BOOKING_NOTIFICATION_EMAIL=anupkr9265@gmail.com
BOOKING_PHONE=+918092253270
BOOKING_PHONE_ALT=+919006848822
ADMIN_EMAIL=anupkr9265@gmail.com
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
