RESEND_API_KEY=
BOOKING_FROM_EMAIL=Vayora Bookings <onboarding@resend.dev>
BOOKING_NOTIFICATION_EMAIL=natul0636@gmail.com
BOOKING_PHONE=+919304591415
ADMIN_EMAIL=natul0636@gmail.com
ADMIN_PASSWORD=
ADMIN_SESSION_SECRET=
